# Environment variables
.env

# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
error logs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build output
dist/
build/

# Temporary files
*.tmp
.cache/
